@{
    ViewData["Titulo"] = "Produtos";
}
@{
    ViewData["mensagem"] = "Aqui supostamente  era para aparecer uma mensagem relativo a produtos";
}
<h2>@ViewData["Titulo"]</h2>
<h3>@ViewData["mensagem"]</h3>